
<header>
    <!-- Hamburger Menu Icon -->
    <button id="hamburger" aria-label="Toggle navigation" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
        
       
    </button>

    <!-- Navigation Menu -->
    <nav id="nav-menu" aria-hidden="true">
        <ul class="nav-list">
            <li class="nav-item"><a href="../index.html">Home</a></li>

            <li class="nav-item dropdown">
                <a href="/services" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Services</a>
                <ul class="dropdown-menu" aria-label="submenu">
                    <li><a href="/services/design">Design</a></li>
                    <li><a href="/services/development">Development</a></li>
                    <li><a href="/services/marketing">Marketing</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="../about.html" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">About Us</a>
                <ul class="dropdown-menu" aria-label="submenu">
                    <li><a href="/services/design">Who are we?</a></li>
                    <li><a href="/services/development">Mission</a></li>
                    <li><a href="/services/marketing">Careers</a></li>
                </ul>
            </li>
            
            <li class="nav-item"><a href="../contacts.html">Contacts</a></li>
        </ul>
    </nav>
</header>